<div class="artistcontainer">
  <% @artists.each do |artist| %>
      <%= link_to artist do %>
          <div class="artistcard">
            <%= image_tag artist.avatar.url, :class => 'avatar' %>
            <div class="artistname"><%= artist.name %></div>
          </div>
      <% end %>
  <% end %>
</div>

<div class="pagecounter">
  <div class="apple_pagination"><%= will_paginate @artists %></div>
</div>