<h1>Casting</h1>


<div class="artistcontainer">
  <% @artists.each do |artist| %>
      <%= link_to artist do %>
          <div class="artistcard">
            <%= image_tag artist.avatar.url, :class => 'avatar' %>
            <div class="artistname"><%= artist.name %></div>
          </div>
      <% end %>
  <% end %>
</div>

<%= link_to 'New Artist', new_artist_path if !current_user.nil? %>