<div class="row">

  <div class="panel">
    <h2>Casting</h2>
    <div class="row collapse">

      <%= render :partial => 'artists/shared/artistContainer' %>

    </div>
  </div>
  <div class="large-12 panel">
    <div class="panel">
      <%= link_to 'Novo Artista', new_artist_path, :class => 'small button expand' if !current_user.nil? %>
    </div>
  </div>
</div>