<div class="large-12 columns">
  <div class="panel">
    <div class="row" style="height: 310px">
      <div class="row collapse" id="artistContainer">
        <!-- Populated by ajax.js with getArtists Function -->

      </div>
    </div>
    <br>
  </div>
</div>

