<div class="large-12 columns">
  <div class="panel">
    <div class="row" style="height: 310px">
      <div class="row collapse" id="artistContainer">
        <!-- Populated by ajax.js with getArtists Function -->

      </div>
    </div>
    <br>
    <div class="large-12">
      <div class="apple_pagination" id="pagination">
        <div class="pagination">
          <a class="previous_page" id="previouslink">← Anterior</a><a class="next_page" id="nextlink">Próxima →</a>
        </div>
      </div>
    </div>
  </div>
</div>

