<div class="large-12 columns">
  <div class="panel">
    <div class="row collapse" id="artistContainer">

    </div>
    <br>
    <div class="large-12">
      <div class="apple_pagination" id="pagination">
        <div class="pagination">
          <a class="previous_page" id="previouslink">← Anterior</a><a class="next_page" id="nextlink">Próximo →</a>
        </div>
      </div>
    </div>
  </div>