#newclasses

.inicial_albumcover

#override

img {
    overflow: hidden;
    border-radius: 15px;

}

.panel {
    border: none;
    background-color: transparent;
}

.button {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0.7em;
    color: black;
}

.button:hover {
    background-color: lightgray;
}