#newclasses

#override

.row.collapse {
    background: none!important;
    border: none!important;
}

.panel {
    border: none;
    background-color: transparent;
}

.button {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0.7em;
    color: black;
}

.button:hover {
    background-color: lightgray;
}

.top-bar .logog {
    background-image: url('biglogo.png');
    background-size: 100%;
    vertical-align: middle;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    margin-left: 50px;
    margin-top: -50px;
    position: relative;
    width: 238px;
    height: 271px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*Top Bar Override*/
.top-bar {
    background:white !important; /*example */
    color: #000000;
}

.top-bar-section li a:not(.button) {
    color: #000000!important;
    background:white !important; /*example */
}
.top-bar-section li a:not(.button):hover {
    color: #e2b52d!important;
    background:white !important; /*example */
    text-decoration: overline;
 }

/*Top Bar Mobile Expanded Override*/
.title-area .name {
    background: white;
}
.top-bar .menu-icon a {
    color: #000000!important;
}
.top-bar.expanded .menu-icon a {
    color: #000000!important;
}

.top-bar.expanded .right li {
    border-bottom: 1px solid black;
    text-align: center;
}

.top-bar .logop {
    background-image: url('biglogo.png');
    background-size: 100%;
    vertical-align: middle;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    margin-left: 5px;
    margin-top: 0px;
    position: absolute;
    width: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.toggle-topbar.menu-icon a span {
    -webkit-box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black!important;
    -webkit-box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black!important;
}