<div class="row">
  <div class="large-12">
    <h1>Editing music</h1>

    <%= render 'form' %>

    <%= link_to 'Voltar Para Album', artist_album_path(@artist,@album),:class => 'button expand' %>

  </div>
</div>
